Repository Joshua-Moon/login-and-board: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{js,ts,jsx,tsx}": ["eslint --fix"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

기능: typeorm 추가 세팅
  README.md
  package.json
  pnpm-lock.yaml
  proj.config.js
  scripts/typeorm/create-db.ts
  src/config.ts
  src/domain/common/index.ts
  src/domain/common/orm-helper.ts
Due: eslint --fix, prettier --write

기능: typeorm 추가 세팅
  README.md
  ormconfig.js
  package.json
  pnpm-lock.yaml
  proj.config.js
  scripts/typeorm/create-db.ts
  src/config.ts
  src/domain/common/index.ts
  src/domain/common/orm-helper.ts
Due: eslint --fix, prettier --write

기능: board entity 구현
  package.json
  pnpm-lock.yaml
  src/catalog/boardCategory.ts
  src/catalog/index.ts
  src/controller/boardController.ts
  src/controller/index.ts
  src/core/fail.ts
  src/core/guard.ts
  src/core/index.ts
  src/core/uuid.ts
  src/domain/board/entity/Board.ts
  src/domain/board/entity/index.ts
  src/domain/board/index.ts
  src/domain/board/usecase/CreateOrUpdateBoard.ts
  src/domain/board/usecase/DeleteBoard.ts
  src/domain/board/usecase/GetBoard.ts
  src/domain/board/usecase/QueryBoard.ts
  src/domain/board/usecase/index.ts
  src/domain/common/index.ts
  src/domain/common/outputType.ts
  src/domain/common/usecase.ts
  src/external/logger.ts
  src/routes/board.ts
  src/routes/index.ts
  src/server.ts
Due: eslint --fix, prettier --write

수정: board route 오탈자 수정
  src/routes/board.ts
Due: eslint --fix

잡일: git conflict 해결
  ormconfig.js
  package.json
  pnpm-lock.yaml
  src/catalog/boardCategory.ts
  src/catalog/index.ts
  src/controller/boardController.ts
  src/controller/index.ts
  src/core/fail.ts
  src/core/guard.ts
  src/core/index.ts
  src/core/uuid.ts
  src/domain/board/entity/Board.ts
  src/domain/board/entity/index.ts
  src/domain/board/index.ts
  src/domain/board/usecase/CreateOrUpdateBoard.ts
  src/domain/board/usecase/DeleteBoard.ts
  src/domain/board/usecase/GetBoard.ts
  src/domain/board/usecase/QueryBoard.ts
  src/domain/board/usecase/index.ts
  src/domain/common/index.ts
  src/domain/common/outputType.ts
  src/domain/common/usecase.ts
  src/external/logger.ts
  src/routes/board.ts
  src/routes/index.ts
  src/server.ts
Due: eslint --fix, prettier --write

리팩토링: 불필요한 typeorm 옵션 제거
  ormconfig.js
Due: none

기능: board에 jwt 인증 추가
  src/routes/board.ts
Due: eslint --fix
